.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
 	background-color: #212121;
	color: #ffffff;
	display: flex;
   	justify-content: space-evenly;
 	padding: 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.navbar a {
	color: #ffffff;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.navbar a:hover {
	background-color: #2f2f2f;
	border-radius: 4px;
}